<header>
        <h1>TaskWiz</h1>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1 class="page-header text-center">To-Do List</h1>
                    <h3>create a task:</h3>
                    <form action="/api/create" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter here..." id="task" autofocus>
                            <span class="input-group-btn">
                                <button id="create" class="btn btn-primary" type="submit" name="submit">submit</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            {{#if tasks}}
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <hr>
                    <h3>tasks to complete :</h3>
                    {{#each tasks}}
                    {{#unless completed}}
                    <div class="task clearfix">
                        <span>{{task}}</span>
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <button data-id="{{_id}}" type="button" class="btn btn-success complete">completed</button>
                            <button data-id="{{_id}}" type="button" class="btn btn-default edit">edit</button>
                            <button data-id="{{_id}}" type="button" class="btn btn-danger delete">delete</button>
                        </div>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <hr>
                    <h3>completed tasks :</h3>
                    {{#each tasks}}
                    {{#if completed}}
                    <div class="task clearfix">
                        <span>{{task}}</span>
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <button data-id="{{_id}}" type="button" class="btn btn-danger delcomplete">delete</button>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
    </main>
